EXPO_PUBLIC_DEMO_MODE=false
EXPO_PUBLIC_WEB_URL=https://erezbabayan.github.io/BabiTk/
EXPO_PUBLIC_SUPABASE_URL=https://ghibfuinantybqidwadj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Optional: backend API for cron/push if you self-host
# EXPO_PUBLIC_API_URL=https://api.yourdomain.com
EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_SYNC_ENABLED=false
